#hi-there {
  position: relative;
  top: 10vh;
  left: 20px;
  width: 50%;
  height: auto;
  align-self: flex-start;
  opacity: 0.8;
  animation:animateimg 2s;
}

#blurb-1 {
  background-color: #FFA728;
  position: relative;
  /* right: -30%; */
  /* bottom: 100px; */
  animation-name: animateblurb;
  animation-duration: 1.5s;
  /* animation-delay: 0.5s; */
}

#blurb-2 {
  background-color: #FFF86B;
  position: relative;
  /* bottom: 80px; */
  /* left: -10%; */
  /* right: -30%; */
  color: #1969A4;
  animation-name: animateblurb;
  animation-duration: 2s;
}

#blurb-3 {
  background-color: white;
  position: relative;
  /* right: -40%; */
  /* right: -10%; */
  /* right: -30%; */
  /* bottom: 120px; */
  color: #1969A4;
  animation-name: animateblurb;
  animation-duration: 3s;
}

.big-text {
  font-size: 100px;
  opacity: 0.85;
  text-align: right;
  width: min-content;
}

.big-text.name-text {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: 20%; */
  text-align: left;
  /* background-color: white; */
  /* color: #1969A4; */
  width: max-content;
  padding: 0px 20px;
  margin: 20px 0px;
  margin-top: 10%;
}

.blurb {
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 24px;
  padding: 25px;
  opacity: 0.85;
  margin: 10px 0px;
}

#blurb-box {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 50%;
  align-items: flex-end;
}

/* Animations were adapted from https://www.w3schools.com/w3css/4/w3.css */
/* @keyframes animateblurb1{from{bottom:-300px;opacity:0} to{bottom:35%;opacity:0.9}} */

@keyframes animateimg{from{left:-100vw;opacity:0} to{left:20px;opacity:0.85}}

@keyframes animateblurb{from{right:-100vw;opacity:0} to{right:0;opacity:0.85}}

/* @keyframes animateblurb2{from{left:-3000px;opacity:0} to{left:0;opacity:0.9}}

@keyframes animateblurb3{from{right:-3000px;opacity:0} to{right:0; opacity:0.9}} */



/* MOBILE COMPATIBLE ANIMATIONS */
@keyframes animateright{from{right:-100vw;opacity:0} to{right:0; opacity:0.85}}
@keyframes animateleft{from{left:-100vw;opacity:0} to{left:0; opacity:0.85}}

@media only screen and (max-width: 1200px) {
  .big-text.name-text {
    width: min-content;
  }
}

@media only screen and (max-width: 950px) {
  .big-text {
    font-size: 80px;
  }
}

@media only screen and (max-width: 770px) {
  .big-text.name-text {
    margin-top: 20px;
    width: max-content;
  }

}


@media only screen and (max-width: 590px) {

  #outer-box {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
  }

  .big-text.name-text {
    align-self: flex-start;

  }

  .blurb {
    font-size: 18px;
    position: relative;
    right: unset;
    width: 80%;
    padding: 20px 10%;
  }

  #blurb-box {
    position: relative;
    bottom: unset;
    right: unset;
    width: 85%;
    margin-top: 20px;
    /* align-items: center; */
  }

  #hi-there {
    width: 95%;
    align-self: center;
    top: 0;
    left: unset;
    animation:animateleft 1.5s;
  }

  .big-text {
    font-size: 40px;
    /* text-align: center;
    width: 100%; */
    /* margin: 10px 0px; */
  }

  /* #blurb-1 {
    right: 0;
    animation-name: animateright;
    animation-duration: 2.5s;
  }

  #blurb-2 {
    left: 0;
    animation-name: animateleft;
    animation-duration: 3.5s;
  }

  #blurb-3 {
    right: 0;
    animation-name: animateright;
    animation-duration: 4.5s;
  } */


}
