body {
  font-family: 'JetBrains Mono';
  font-weight: lighter;
  color: white;
  /* background-color: #FDCE82; */
  background-color: #1969A4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  min-height: 100%;
}

#header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #1969A4; */
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
  padding: 10px 0px;
}

.background-img {
  position: absolute;
  z-index: -1;
  left: 0;
  margin: 0;
  width: 100%;
  min-height: 100px;
  opacity: 50%;
  padding: 0;
  top: 0;
}

.background-img.bottom {
  bottom: 0;
  height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  color: #FFA728;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.5em;
}

h2 {
  margin: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFA728;
}

h3 {
  text-transform: uppercase;
}

p {
  font-size: 16px;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  align-content: stretch;
  align-self: center;
}

.navbar {
  cursor: pointer;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.navbar:hover,#selected {
  border-bottom: #FFA728 solid 0.5px;
}

.copyright {
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.centered-column {
  align-self: center;
  max-width: 800px;
  width: 85%;
}

.align-center {
  align-items: center;
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  height: 45px;
  width: fit-content;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 2px solid #FFA728;
}

.button-box:hover {
  border: 2px dashed #FFA728;
}

#name {
  width: max-content;
  padding: 0px 10px;
}

.half-width {
  width: 50%;
}

.justify-start {
  justify-content: flex-start;
}

p a {
  text-decoration: underline;
  color: #FFA728;
  font-style: italic;
}

p a:hover {
  color: grey;
}

p strong {
  color: #FFF86B;
}

@media only screen and (max-width: 960px) {

  #header-box {
    flex-direction: column;
    align-items: center;
  }

  nav {
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

}

/* @media only screen and (max-width: 450px) {
  .flex-row {
    flex-direction: column;
  }

} */
